body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('https://pic.3gbizhi.com/uploadmark/20240205/b50aab1910d2db807ae98d41485ba8c1.jpg') no-repeat;
  background-size: cover;
}