<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Directory Listing</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        // 当用户点击文件链接时，获取文件内容并显示在页面上
        function showFileContent(filePath) {
          $.ajax({
            url: filePath,
            dataType: 'text',
            success: function(data) {
              // 将文件内容插入到页面中
              $('#file-content').text(data);
            }
          });
        }
    </script>
</head>
<body>
<style>
    body {
      background: url('https://pic.3gbizhi.com/uploadmark/20240205/b50aab1910d2db807ae98d41485ba8c1.jpg') no-repeat;
      background-size: cover;
    }
</style>
<h1>Spring Boot Directory Listing</h1>

<!-- 显示文件列表 -->
<ul>
    <div th:utext="${files}"></div>
</ul>

<!-- 显示文件内容 -->
<pre id="file-content"></pre>
</body>
</html>