<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>CSS3瀑布流效果</title>
    <link rel="stylesheet" href="../static/fileList.css">
</head>
<body>
<div class="container">
    <div class="waterfall">
        <div th:each="file : ${imageList}" class="item">
            <img th:src="${file}" onclick="toggleEnlarge(event)">
        </div>
        <div th:each="file : ${videoList}" class="item">
            <video controls>
                <source th:src="${file}" type="video/mp4">
            </video>
        </div>
        <div th:each="file : ${docList}" class="item">
            <li>
                <a th:href="@{${file}}">
                    <span th:text="${file}">file</span>
                </a>
            </li>
        </div>

    </div>
</div>
<script>
    function toggleEnlarge(event) {
        var image = event.target; // 获取被点击的图片元素

        if (image.classList.contains('enlarged')) {
            image.classList.remove('enlarged'); // 移除已经被放大的类名
        } else {
            image.classList.add('enlarged'); // 添加放大的类名
        }
    }
</script>
</body>
</html>