<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>

<body>
<div id="login_box">
    <form class="form" id="form" method="post" th:action="@{/login}">
        <h2 class="form_title">欢迎登录</h2>
        <div id="input_box">
            <span>用户名：</span>
            <input type="text" placeholder="请输入用户名" name="username">
        </div>
        <div class="input_box">
            <span>密&emsp;码：</span>
            <input type="password" placeholder="请输入密码" name="password">
        </div>
        <div class="row">
            <span th:text="${msg}"></span>
        </div>
        <button>登录</button><br>

    </form>
</div>
</body>
</html>

