<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>分页效果</title>
    <link rel="stylesheet" href="../static/listPage.css"></head>
<body>
<div class="container">
    <div class="page">
        <div th:each="video : ${videoList}" class="item">
            <video controls preload="metadata">
                <source th:src="${video}" type="video/mp4">
            </video>
        </div>
    </div>
</body>
</html>
