<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件管理</title>
</head>

<body>
<style>
    body {
      background: url('https://pic.3gbizhi.com/uploadmark/20240104/bc17072f7f153a41078db624a64bc78a.jpg') no-repeat;
      background-size: cover;
    }
</style>

<!-- 整体布局 -->
<div class="container right-panel-active">
    <!-- 注册框 -->
    <div class="container_from container_signup">
        <h2 class="form_title">文件管理</h2>
        <form class="from" method="get" th:action="@{/directoryStructure}">
            <div class="row">
                <input type="submit" value="查看文件">
            </div>
        </form>
        <form class="from" method="post" id="upload-form" th:action="@{/upload}" enctype="multipart/form-data">
            <h2 class="form_title">文件上传</h2>
            <div class="row">
                <label for="save-path">选择文件夹：</label>
                <br>
                <div id="color-options">
                    <button onclick="setSavePath('west')">west</button>
                    <button onclick="setSavePath('Korea')">korea</button>
                </div>
                <input type="text" name="savePath" id="save-path" placeholder="可选，默认保存在根路径下">
            </div>
            <div class="row">
                <input type="file" name="files" multiple>
            </div>
            <div class="row">
                <input type="submit" value="上传文件">
            </div>
            <!-- 提示信息 -->
            <div class="row">
                <span th:utext="${tip}"></span>
            </div>
        </form>
        <script>function setSavePath(setValue) {
                // 阻止按钮的默认行为（例如表单提交）
                event.preventDefault();
                // 获取输入框元素
                var savePathInput = document.getElementById("save-path");
                // 将传递进来的颜色值赋给输入框的value属性
                savePathInput.value = setValue;
                }
        </script>
        <form class="from" method="get" th:action="@{/tasks}">
            <div class="row">
                <input type="submit" value="查看结果">
            </div>
            <!-- 提示信息 -->
            <div class="row">
                <table>
                    <tr>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Create Time</th>
                    </tr>
                    <tr th:each="task : ${tasks}">
                        <td th:text="${task.progress}"></td>
                        <td th:text="${task.status}"></td>
                        <td th:text="${task.createTime}"></td>
                    </tr>
                </table>
            </div>
        </form>
        <form class="from" method="get" th:action="@{/logs}">
            <div class="row">
                <input type="submit" value="查看日志">
            </div>
        </form>
    </div>
</div>
</body>
</html>