<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件管理</title>
    <link rel="stylesheet" href="../static/upload.css">
</head>
<body>
<div class="container right-panel-active">
    <!-- 文件管理标题 -->
    <h2 class="form_title">文件管理</h2>

    <!-- 查看文件表单 -->
    <form class="from" method="get" th:action="@{/directoryStructure}">
        <div class="form-row">
            <input type="submit" value="查看文件">
        </div>
    </form>
    <div class="buttons-container">
        <!-- 文件上传表单 -->
        <form class="form-row" method="post" id="upload-form" th:action="@{/upload}" enctype="multipart/form-data">
            <h2 class="form_title">文件上传</h2>
            <!-- 文件夹选择部分 -->
            <div class="row">
                <label for="save-path">选择文件夹：</label>
                <br>
                <div id="color-options">
                    <button onclick="setSavePath('West')">West</button>
                    <button onclick="setSavePath('Korea')">Korea</button>
                    <button onclick="setSavePath('Japan')">Japan</button>
                    <button onclick="setSavePath('China')">China</button>
                    <button onclick="setSavePath('screenshot')">screenshot</button>
                    <br>
                    <button onclick="setSavePath('gif')">gif</button>
                    <button onclick="setSavePath('playboy')">playboy</button>
                    <button onclick="setSavePath('comics')">comics</button>
                    <button onclick="setSavePath('selfie')">selfie</button>
                </div>
                <input type="text" name="savePath" id="save-path" placeholder="可选，默认保存在根路径下">
            </div>
            <!-- 上传文件部分-->
            <div class="form-row inline-buttons">
                <input type="file" name="files" multiple>
            </div>
            <br/>
            <br/>
            <div class="form-row ">
                <input type="submit" value="上传文件">
            </div>

            <!-- 上传文件提示信息 -->
            <div class="form-row tip-row">
                <span th:utext="${tip}"></span>
            </div>
        </form>
        <br/>
        <!-- 查看结果表单与表格 -->
        <form class="inline-buttons" method="get" th:action="@{/tasks}">
            <div class="form-row inline-buttons">
                <input type="submit" value="查看结果">
            </div>
        </form>
        <!-- 查看日志 -->
        <form class="inline-buttons" method="get" th:action="@{/logs}">
            <div class="form-row inline-buttons">
                <input type="submit" value="查看日志">
            </div>
        </form>
    </div>

    <!-- 显示上传结果 -->
    <div class="row">
        <table>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.progress}"></td>
                <td th:text="${task.status}"></td>
                <td th:text="${task.createTime}"></td>
            </tr>
        </table>
    </div>
    <!-- 引入外部脚本文件 -->
    <script src="../static/scripts.js"></script>
</div>
</body>
</html>
